<header class="header">
  <a class="header__title" href="{{ '/' | absolute_url }}"><span class="logo"
    style=" 

@font-face {
  font-family: 'bodoniflfbold';
  src: url('bodoniflf-bold-webfont.woff2') format('woff2'),
       url('bodoniflf-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'bodoniflfregular';
  src: url('bodoniflf-roman-webfont.woff2') format('woff2'),
       url('bodoniflf-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
    height: 40px;
    font-family: bodoniflfregular;
    color: #000;
    font-size: 24px;
    font-weight: 1000;
    border-style: solid;
    border-color: #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;

    user-select: none;
    transition: all 0.3s ease 0s;"> Radwan</span></a>

  {% include navigation.html %}
</header>
