<nav>
  <ul class="header__list">
    <li><a href="{{ '/' | prepend: site.baseurl }}">Projects</a></li>
    <li><a href="{{ '/style-guide' | prepend: site.baseurl }}">Portfolio</a></li>
    <li><span class="popup__open"><a style="

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    padding: 9px 25px;
    background-color: rgb(107, 107, 107);
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    font-size: 15px;">Hire me</a></span></li>
  </ul>
</nav>
